---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import  {GetEmployeeSales}  from '../components/GetData'
import  {GetBookings} from '../components/GetData'
import Movies from '../components/Movies'
import Card from '../components/card.astro'

const array1 = [1,2,3,4,5,6,7,8]
const me = "bob"
const ep = await GetEmployeeSales()
    // .then( (data) => data)
const bks = await GetBookings()
---

<Layout>
<h1 class="mt-20 text-5xl">flowbyte</h1>
<div class="m-6 w-6xl">
<Card title="Noteworthy technology acquisitions 2021"/>
</div>
{
    bks.map( (item) => <p>{item.user.username} {item.date} {item.hour}</p> )
}

{
array1.map( (key) => <p>{key}</p> )
}

<Movies />

{
ep.map( (item) => <p>{item.employeeName}</p>)
}

<p>{me}</p>
</Layout>