---
import "../styles/global.css"; 
import TableHeader from './TableHeader.astro'
import TableRow from './TableRow.astro'
import { GetFlatBookings } from "./GetData";

const {date} = Astro.props
console.log('CTable-date: ', date)

const hours = [1,2,3,4,5,6,7,8,9,10,11,12,13,14];

// const date = new Date('2025-03-25')
// console.log('CTable-date: ', date)
// console.log(date.getFullYear())

const bookingsDate:string = date.year+'-'+'0'+date.month+'-'+date.day
console.log('Ctable-bookingsDate: ', bookingsDate)
const bookings = await GetFlatBookings(bookingsDate)
console.log('CTable: ', bookings)
---

<div class="table-container w-3/4 mx-auto">
    <div class="h-16"></div>
    <table class="w-4xl">
        <TableHeader date={date} />
        <tbody>
            <tr class="row">
                <th class="thstyle">Fri<br>23<br>March</th>
                {
                    hours.map( (index) => <td class="tdcell">Book{index}</td>)
                }
            </tr>
            <tr class="row">
                <th class="thstyle">Sat<br>24<br>March</th>
                {
                    hours.map( (index) => <td class="tdcell">Book{index}</td>)
                }
            </tr>
                <!-- <TableRow bookings = {bookings} />  -->
                {
                    bookings.map( row =>  
                        <TableRow row = {row} />
                    )
                }
        </tbody>
    </table>
</div>

<style>
    table {
      @apply border;
    }
</style>

<script>
    const tr = document.querySelectorAll('.row')
    for (const row of tr) {
        row.addEventListener('click', () => window.location.href='orig')
    }
</script>